.about-div {
    max-width: 600px;
    width: 80%;
    margin: 100px auto;
    position: relative;
    z-index: 2;
    text-align: left;
}

.about-div img {
    width: 33.33%;
    height: auto;
    float: left;
    margin-right: 10px;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    opacity: 0.25;
    margin: 0; */
}

.about-div .about-text {
    margin: 0;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    z-index: 3;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
    .about-div {
        max-width: 800px;
        width: 80%;
        margin: 100px auto;
        position: relative;
        background-color: transparent;
        /* display: flex; */
        z-index: 2;
    }
    .about-div img {
        /* position: absolute;
        z-index: 1;
        width: 50%;
        top: 50px;
        right: -50px;
        opacity: 1; */
    }
    .about-div .about-text {
        position: relative;
        width: 75%;
        z-index: 2;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 15px;
        text-align: left;
        color: white;
        font-weight: bold;
    }
}