.home-page {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    background: linear-gradient(139deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 75%);
}

@media (min-width: 900px) {
    .home-page {
        flex-wrap: wrap;
        flex-direction: row;
    }
}