.home-div .home-text ul {
    list-style-type: none;
}

.background-image {
    width: 100vw;
    height: auto;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    transition: opacity 1s;
}

.background-image.on {
    opacity: 0.25;
}

main {
    background-color: transparent;
}

.home-text {
    width: 80%;
    margin: 150px auto;
    position: relative;
    z-index: 2;
}

.home-text>p {
    text-align: left;
    clear: both;
}