.movie-page-shell {
    margin: 125px auto 0;
    width: 100vw;
    max-width: 768px;
    padding: 0 15px;
}

.movie-page-shell h2 {
    text-align: left;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
}

.iFrameClass.not-loaded {
    display: none;
}

.iFrameClass {
    text-align: center;
    display: block;
    width: 100%;
}

.iFrameContainer iframe {}

.movie-shell {
    margin: 20px auto;
    /* width: 100vw; */
}

.button-div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 20px;
}

.prevNext {
    cursor: pointer;
}

@media (min-width:750px) {
    .movie-page-shell {
        margin: 125px auto 0;
        width: 90%;
        max-width: 768px;
        padding: 0;
    }
    .movie-page-shell {
        margin: 125px auto 0;
        max-width: 768px;
    }
    .movie-shell {
        margin: 20px auto;
    }
}