.home-header {
    text-align: left;
    height: 90px;
    background: rgb(0, 0, 0);
    background: linear-gradient(163deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 1) 100%);
}

.home-header div {
    text-align: left;
    margin-left: 1rem;
}

.home-header a {
    text-decoration: none;
    color: black;
}

.home-header a:hover {
    text-decoration: underline;
}