.movie-shell {
    position: relative;
}

.iFrameClass {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    text-align: center;
    display: block;
    width: 100%;
}

.iFrameClass iframe {}

.loading-graphic {
    position: relative;
    z-index: 10;
}