.App {
    text-align: center;
}

.movie-reel {
    background-image: url("https://condescending-curie-29a045.netlify.app/bmps/filmStrip.png");
    width: 100px;
    height: 3200px;
    position: fixed;
    top: 0;
    left: 50px;
    z-index: -1;
    animation: movie 1s linear infinite;
    opacity: 0.15;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes movie {
    from {
        top: 0;
    }
    to {
        top: -300px
    }
}